* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  background: var(--background-root);
  font-size: 1rem;
  font-family: var(--font-family);
  color: var(--color);
  height: 100vh;
  overflow: auto;
}

a {
  text-decoration: none;
  color: var(--color);
  font-family: var(--font-family);
}

a:hover {
  color: var(--color-hover);
  text-shadow: var(--text-shadow);
  cursor: pointer;
}

img {
  border-radius: var(--border-radius);
}

h1, h2, h3 {
  text-decoration: none;
  font-weight: normal;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

.general-block {
  background: var(--background-block);
  border-radius: var(--border-radius);
  padding: 1rem;
  margin-bottom: 1rem;
}

:root {
  /* BACKGROUND COLOR */
  --background-root: #eee;
  --background-block: #111;

  /* TEXT */
  /*--font-family: Ysabeau, Arial, sans-serif;*/
  --font-family: Arial, sans-serif;
  --color: #eee;
  --color-hover: #ff0000;
  /*--text-shadow: 0 0 2px var(--color-hover);*/
  --text-shadow: none;

  /* BORDERS */
  --border-radius: 0;
  --border: solid 1px #eee;

  /* FORMS */
  --button-color: #111;
  --button-background: #eee;
  --input-color: #111;
  --input-background: #eee;
}
