* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background: var(--background-main);*/
}

:root {
  --padding-button-general: 2px 10px 2px 10px;

  --background-main: #fafafa;
  --background-block: #f0f0f0;

  --background-button: #f0f0f0;
  --background-button-hover: #eaeaea;

  --background-frame-close-button-general: #6194ff;
  --background-frame-close-button-general-hover: #3a77ff;
  --background-frame-close-button-success: #a3d772;
  --background-frame-close-button-success-hover: #9bd945;
  --background-frame-close-button-error: #ff9898;
  --background-frame-close-button-error-hover: #ff6c6c;

  --background-form-input: #fafafa;
  --background-form-label: #eaeaea;

  --background-info-frame-general: #b3d2ff;
  --background-info-frame-success: #e7ffd1;
  --background-info-frame-error: #ffd1d1;

  --border-general: solid 1px #bababa;
  --border-radius-general: 10px;

  --border-info-frame-general: solid 1px #6194ff;
  --border-info-frame-success: solid 1px #a3d772;
  --border-info-frame-error: solid 1px #ff9898;

  --text-color-general: #222222;

  --text-color-info-frame-general: #00004f;
  --text-color-info-frame-success: #527300;
  --text-color-info-frame-error: #730000;

  --text-font-general: Ysabeau, Arial, sans-serif;

  --text-size-general: 1em;
  --text-size-form-input: 1em;
  --text-size-form-label: 0.9em;

  --text-size-info-panel: 1.1em;
}
