:root {
  --blur: blur(10px);
  --color-hover: #5E81AC;
  --bg-hover: #E5E9F0;
  --bg-main: #D8DEE9;
  --bg-block: #ECEFF4;
  --border-radius: 3px;
  --text-color-main: #2E3440;
  --text-color-inverse: #000000;
  --padding-block: 20px;
  --border: solid 1px #D8DEE9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-main);
  font-size: 1.1rem;
  color: var(--text-color-main);
  font-family: Ysabeau, sans-serif;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.overlay-container {
  margin: auto;
  border: solid 1px var(--color-hover);
  cursor: default;
}

.bg-button {
  background: var(--bg-main);
  border-radius: var(--border-radius);
  backdrop-filter: var(--blur);
}

.bg-hover {
  cursor: pointer;
  transition: all 0.05s ease-in 0s;
  border: solid 1px rgba(0, 0, 0, 0);
}

.bg-hover:hover {
  background: var(--bg-hover);
  /*border: solid 1px var(--bg-hover);*/
}

.post-hover {
  cursor: pointer;
}

.post-hover:hover {
  border: solid 1px var(--color-hover);
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.gap-100 {
  gap: 1rem;
}

.gap-75 {
  gap: 0.75rem;
}

.gap-50 {
  gap: 0.5rem;
}

.gap-25 {
  gap: 0.25rem;
}

.block {
  padding: var(--padding-block);
  border-radius: var(--border-radius);
  background: var(--bg-block);
  /*border: var(--border);*/
}

.error-block {
  background: #2a4659;
  border: solid 1px #44000c;
  color: #44000c;
}

.block-header {
  padding-right: 0.15rem;
  height: 32px;
  max-height: 32px;
  border-radius: var(--border-radius);
  transition: background-color 0.1s ease-in;
  cursor: pointer;
}

.block-header img {
  max-height: 32px;
}

.card {
  height: 48px;
  max-height: 48px;
  border-radius: var(--border-radius);
  transition: background-color 0.1s ease-in;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.align-center {
  align-items: center;
}

.align-right {
  margin-left: auto;
}

a.bg-hover:hover, button.bg-hover:hover {
  color: var(--text-color-main);
  text-shadow: none;
  filter: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s ease-in;
  color: var(--text-color-main);
}

a:link {
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s ease-in;
  color: var(--text-color-main);
}

a:active {
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s ease-in;
  color: var(--text-color-main);
}

a:visited {
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s ease-in;
  color: var(--text-color-main);
}

a:hover {
  text-decoration: none;
  color: var(--color-hover);
}

.hidden {
  display: none;
}

.root-container {
  max-width: 70vw;
  margin: 20px auto;
}

.side-container {
  flex: 1;
}

.main-container {
  flex: 3;
}

img {
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: 0.1s ease-in;
}

.photo-link:hover {
  text-shadow: none;
  filter: none;
  box-shadow: 0 0 4px var(--color-hover);
}

.font-header {
  font-size: 1.5rem;
  font-family: Ysabeau, Arial, sans-serif;
}

.font-title {
  font-size: 1.4rem;
  font-family: Ysabeau, Arial, sans-serif;
}

.font-larger {
  font-size: 1.2rem;
}

.font-label {
  font-size: 0.95rem;
  font-family: Ysabeau, Arial, sans-serif;
}

.text-regular {
  cursor: default;
}

.grid-single {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.post-text {
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 0.95rem;
  letter-spacing: 0.06rem;
}

.font-dimmed {
  color: #4C566A;
}

.font-success {
  color: #A3BE8C;
}

.font-danger {
  color: #BF616A;
}

.font-smaller {
  font-size: 0.95rem;
}

.friend div button {
  visibility: hidden;
}

.friend:hover > div button {
  visibility: visible;
}

button {
  background: var(--bg-block);
  /*border-radius: var(--border-radius);*/
  border-radius: var(--border-radius);
  padding: 0.2rem 0.7rem;
  border: var(--border);
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s ease-in;
  font-family: Ysabeau, Arial, monospace;
  font-size: 1.1rem;
  color: var(--text-color-main);
}

button:hover {
  background: var(--bg-hover);
}

input[type=text], input[type=password], textarea {
  background: var(--bg-main);
  backdrop-filter: var(--blur);
  color: var(--text-color-inverse);
  outline: none;
  padding: 0.3rem;
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 0.95rem;
  align-content: baseline;
  border-radius: var(--border-radius);
  border: none;
  resize: none;
  letter-spacing: 0.06rem;
}

select {
  padding: 0.2rem;
  border-radius: 5px;
  background: var(--bg-main);
  border: none;
  cursor: pointer;
  outline: none;
  font-family: Ysabeau, Arial, sans-serif;
  font-size: 1.1rem;
  color: var(--text-color-inverse);
}

select > option {
  padding: 0.2rem;
  background-color: var(--bg-main);
}